.View {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.View--arrange_type--1 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.View--arrange_type--2 {
  flex-wrap: wrap;
  justify-content: center;
}
.View--arrange_type--3 {
  flex-wrap: wrap;
}
.View--arrange_type--4 {
  flex-wrap: wrap;
  justify-content: flex-end;
}
.View--arrange_type--5 {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.View--arrange_type--6 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.View--arrange_type--7 {
  flex-wrap: wrap;
  align-items: flex-end;
}
.View--arrange_type--8 {
  flex-wrap: wrap;
  justify-content: space-between;
}
.View--arrange_type--9 {
  flex-wrap: wrap;
  justify-content: space-around;
}
.View--arrange_type--10 {
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.View--arrange_type--11 {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.View--arrange_type--12 {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.View--arrange_type--13 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.View--arrange_type--14 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.View--arrange_type--15 {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.View--arrange_type--16 {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.View--arrange_type--17 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.View--arrange_type--18 {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.View--arrange_type--19 {
  flex-direction: column;
}
.View--arrange_type--20 {
  flex-direction: column;
  align-items: center;
}
.View--arrange_type--21 {
  flex-direction: column;
  align-items: flex-end;
}
.View--arrange_type--22 {
  flex-direction: column;
  justify-content: center;
}
.View--arrange_type--23 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.View--arrange_type--24 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.View--arrange_type--25 {
  flex-direction: column;
  justify-content: flex-end;
}
.View--arrange_type--26 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.View--arrange_type--27 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.View--arrange_type--28 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.View--arrange_type--29 {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.View--arrange_type--30 {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.View--arrange_type--31 {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.View--arrange_type--32 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.View--arrange_type--33 {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.View--arrange_type--34 {
  flex-direction: column;
  justify-content: space-between;
}
.View--arrange_type--35 {
  flex-direction: column;
  justify-content: space-around;
}
.View--arrange_type--36 {
  flex-direction: column;
  justify-content: space-evenly;
}
.View--arrange_type--37 {
  flex-wrap: wrap;
  align-content: flex-end;
}
.View--arrange_type--38 {
  flex-wrap: wrap;
  align-content: center;
}
.View--arrange_type--39 {
  flex-wrap: wrap;
  align-content: space-around;
}
.View--arrange_type--40 {
  flex-wrap: wrap;
  align-content: space-between;
}
.View--arrange_type--41 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.View--arrange_type--42 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}
.View--arrange_type--43 {
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-end;
}
.View--arrange_type--44 {
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.View--arrange_type--45 {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.View--arrange_type--46 {
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}
.View--arrange_type--47 {
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
.View--arrange_type--48 {
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.View--arrange_type--49 {
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
.View--arrange_type--50 {
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}
.View--arrange_type--51 {
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.View--arrange_type--52 {
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}
.View--arrange_type--53 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.View--arrange_type--54 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}
.View--arrange_type--55 {
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
}
.View--arrange_type--56 {
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-evenly;
}
.View--arrange_type--57 {
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
}
.View--arrange_type--58 {
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
}
.View--arrange_type--59 {
  align-items: flex-end;
}
.View--arrange_type--60 {
  align-items: center;
}

.View--shorts {
  padding: 0 40px;
  margin-left: -40px;
}

.View--shorts .View-item {
  margin-top: 40px;
  margin-left: 40px;
}

.View-item {
  position: relative;
}