.PushForm {
  position: absolute;
  right: 0;
}

.PushForm-button {
  padding: 10px 20px;
  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #31271d6b;
  border: none;
  cursor: pointer;
}

.PushForm-button:hover,
.PushForm-button:focus {
  background-color: #31271de8;
}