.Search {
  flex-grow: 1;
  height: 100%;
  display: flex;
  min-height: 42px;
  max-height: 42px;
}

.Search-field {
  flex-grow: 1;
  padding: 10px;
  font: inherit;
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  outline: none;
}

.Search-button {
  padding: 10px 20px;
  font: inherit;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #31271d6b;
  border: none;
  cursor: pointer;
}

.Search-button:hover,
.Search-button:focus {
  background-color: #31271de8;
}