.App {
  min-height: 333px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header { 
  min-height: 42px;
  box-shadow: inset 0px 11px 8px -10px gray, inset 0px -11px 8px -10px gray;
  background-color: white;
}

.App-main {
  flex-grow: 1;
  background: no-repeat url('./images/lilk.jpg'), gray;
  background-size: cover;
  background-blend-mode: darken;
}
